<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="mc.pay.android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <dist:module dist:instant="true"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.IntroActivity"
            android:label="@string/app_name"
            android:theme="@style/NoTitleDialog"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="ok_by_card" android:scheme="mc_pay" />
                <data android:host="cancelled_by_card" android:scheme="mc_pay" />
                <data android:host="ok_by_cash" android:scheme="mc_pay" />
                <data android:host="cancelled_by_cash" android:scheme="mc_pay" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FranchiseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activities.BankChoiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activities.BankSendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".activities.CouponHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activities.CouponPayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".activities.EditInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activities.ManageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activities.MoneyGiftActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activities.PrivateAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".activities.SaleHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activities.SoftUpdateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activities.DlgAccountChangeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/full_screen_dialog1"/>

        <activity
            android:name=".activities.DlgNoticeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/full_screen_dialog1"/>

        <activity
            android:name=".activities.DlgCommonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/full_screen_dialog1"/>


    </application>




</manifest>